* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
:focus, :active {
    outline: none; }
  
a:focus, a:active {
    outline: none; }
  
nav, footer, header, aside {
    display: block; }
  
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
input, button, textarea {
    font-family: inherit; }
  
input::-ms-clear {
    display: none; }
  
button {
    cursor: pointer; }
  
button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
a, a:visited {
    text-decoration: none; }
  
a:hover {
    text-decoration: none; }

ul li {
    list-style: none; }
  
img {
    vertical-align: top; }
  
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }

body {
    background-color: black;
    color:aquamarine;
} 

.knopka {
    background-color: #231f1f;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    border: 1px solid rgb(131,58,180);
    padding: 20px 20px 20px 20px;
    font-weight: 500;
}


.knopka:hover {
    -webkit-transition: background-color 900ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1100ms linear;
    background-color: black;
    color: blue;
    text-shadow: 1px 1px 1px rgb(131,58,180);
}

